job_queue: sonic-ci
provision_data:
  distro: jammy
test_data:
  test_cmds: |
    set -e
    set -x
    # skip build commands
    ssh ubuntu@$DEVICE_IP sudo apt update -qq
    ssh ubuntu@$DEVICE_IP sudo apt install -qq -y python3 python-is-python3 docker.io python3-pip pipx curl j2cli make docker-buildx
    ssh ubuntu@$DEVICE_IP pip3 install -q --user j2cli
    ssh ubuntu@$DEVICE_IP pip3 install -q --user jinjanator
    ssh ubuntu@$DEVICE_IP pipx install gdown
    ssh ubuntu@$DEVICE_IP sudo gpasswd -a ubuntu docker
    ssh ubuntu@$DEVICE_IP sudo systemctl restart docker
    ssh ubuntu@$DEVICE_IP sudo chmod a+rw /var/run/docker.sock

    ssh ubuntu@$DEVICE_IP git clone https://github.com/sonic-net/sonic-mgmt
    ssh ubuntu@$DEVICE_IP "cd sonic-mgmt/ansible && sudo -H ./setup-management-network.sh"
    ssh ubuntu@$DEVICE_IP mkdir -p /home/ubuntu/veos-vm/images /home/ubuntu/sonic-vm/images
    ssh ubuntu@$DEVICE_IP ./.local/bin/gdown -O /home/ubuntu/veos-vm/images/cEOS64-lab-4.29.3M.tar https://drive.google.com/uc?id=1ze1VRtLO8AGv-ntysLEmWmzwlZTi5v7J
    ssh ubuntu@$DEVICE_IP ./.local/bin/gdown -O /home/ubuntu/veos-vm/images/sonic-vs.img.gz https://drive.google.com/uc?id=1wuFBYbNFo_qssVS9zUsWcs9Kj0Vq9hMj
    ssh ubuntu@$DEVICE_IP gzip -d /home/ubuntu/veos-vm/images/sonic-vs.img.gz
    ssh ubuntu@$DEVICE_IP mv sonic-vs.img /home/ubuntu/veos-vm/images/sonic-vs.img
    ssh ubuntu@$DEVICE_IP cp /home/ubuntu/veos-vm/images/sonic-vs.img /home/ubuntu/sonic-vm/images/sonic-vs.img
    ssh ubuntu@$DEVICE_IP "cd sonic-mgmt && ./setup-container.sh -n mgmt -d /data"

reserve_data:
  ssh_keys:
    - lp:yanjiangpku
    - gh:jy5275
  timeout: 21600
