job_queue: sonic-ci
provision_data:
  distro: jammy
test_data:
  test_cmds: |
    set -e
    set -x
    # skip build commands
    ssh ubuntu@$DEVICE_IP sudo apt update -qq
    ssh ubuntu@$DEVICE_IP sudo apt remove -qq -y containerd
    ssh ubuntu@$DEVICE_IP sudo apt install -qq -y python3 python-is-python3 docker.io python3-pip pipx curl j2cli make docker-buildx
    ssh ubuntu@$DEVICE_IP pip3 install -q --user j2cli
    ssh ubuntu@$DEVICE_IP pip3 install -q --user jinjanator
    ssh ubuntu@$DEVICE_IP pipx install gdown
    ssh ubuntu@$DEVICE_IP sudo gpasswd -a ubuntu docker
    ssh ubuntu@$DEVICE_IP sudo systemctl restart docker
    ssh ubuntu@$DEVICE_IP sudo chmod a+rw /var/run/docker.sock

    ssh ubuntu@$DEVICE_IP git clone -b sonic_on_ubuntu https://github.com/jy5275/sonic-mgmt
    ssh ubuntu@$DEVICE_IP "cd sonic-mgmt/ansible && sudo -H ./setup-management-network.sh"
    ssh ubuntu@$DEVICE_IP mkdir -p /home/ubuntu/veos-vm/images /home/ubuntu/sonic-vm/images
    ssh ubuntu@$DEVICE_IP ./.local/bin/gdown -O /home/ubuntu/veos-vm/images/cEOS64-lab-4.32.5M.tar https://drive.google.com/uc?id=1RP6EoDFByacEJQZgyUbW6-9MhpKGb9R7
    ssh ubuntu@$DEVICE_IP ./.local/bin/gdown -O /home/ubuntu/veos-vm/images/sonic-vs.img.gz https://drive.google.com/uc?id=1wuFBYbNFo_qssVS9zUsWcs9Kj0Vq9hMj
    ssh ubuntu@$DEVICE_IP gzip -d /home/ubuntu/veos-vm/images/sonic-vs.img.gz
    ssh ubuntu@$DEVICE_IP cp /home/ubuntu/veos-vm/images/sonic-vs.img /home/ubuntu/sonic-vm/images/sonic-vs.img
    ssh ubuntu@$DEVICE_IP "cd sonic-mgmt && ./setup-container.sh -n mgmt -d /data"
    export MGMT_IP=$(ssh ubuntu@$DEVICE_IP docker inspect mgmt | jq -r '.[0].NetworkSettings.IPAddress')
    export HOST_IP=$(ssh ubuntu@$DEVICE_IP docker inspect mgmt | jq -r '.[0].NetworkSettings.Gateway')
    ssh ubuntu@$DEVICE_IP 'echo "ubuntu ALL=(ALL) NOPASSWD:ALL" | sudo tee -a /etc/sudoers > /dev/null' # Does it work?

    ssh ubuntu@$DEVICE_IP docker exec -it -w /data/sonic-mgmt/ansible mgmt ./testbed-cli.sh -t vtestbed.yaml -m veos_vtb -k ceos add-topo vms-kvm-t0 password.txt
    ssh ubuntu@$DEVICE_IP docker exec -it -w /data/sonic-mgmt/ansible mgmt ./testbed-cli.sh -t vtestbed.yaml -m veos_vtb deploy-mg vms-kvm-t0 veos_vtb password.txt
    ssh ubuntu@$DEVICE_IP docker exec -it -w /data/sonic-mgmt/tests mgmt ./run_tests.sh -n vms-kvm-t0 -d vlab-01 -c bgp/test_bgp_fact.py -f vtestbed.yaml -i ../ansible/veos_vtb
    
output_timeout: 1800 # 30min

reserve_data:
  ssh_keys:
    - lp:yanjiangpku
    - gh:jy5275
  timeout: 21600
